@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',sans-serif;
	background: url('../img/bodybg.png') center center no-repeat;
	background-size: cover;
}


.wrapper {
	max-width: 100%;
	margin: auto;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
}

header {
	margin: 0;
	padding: 87px 0 0 0;
}

.header-container{
	width: 100%;
}

.nav-box,nav, .nav-bar,.nav-bttn, .nav-bttn-bar, .nav-img, .header-container{
	display: flex;
}

.nav-img {
	align-items:flex-start;
}

.nav-box {
	flex:0 1 100%;
	justify-content: space-between;
	ul {
		list-style: none;
		padding: 0;
		font-size: 12px;
		color:#b5b5b5;
		justify-content: center;
		align-items: center;
	}
	.nav-bar {
		padding-left: 44px;
		& li {
			padding-left: 15px;
			&:first-of-type{
				padding: 0;
			}
		}
	}
	.nav-bttn {
		justify-content: flex-end;
		align-items: flex-end;
		li {
			margin-left: 20px;
			&:first-of-type {
				margin-left: 0;
			}
		}
		a {
			text-decoration: none;
			color: #f2994A;
			font-weight: 600;
			border:1px solid #f2994a;
			border-radius: 5px;
			padding: 8px 27px;
		}
		#bttn2 {
			box-shadow: 0 0 30px #f2994A;
			a {
			color: #fff;
			background-color: #f2994A;
			}
		}
	}
}

@media (max-width: 767px) {
	.nav-bttn-bar {
		display: none;
	}
	.nav-bar{
		li:last-of-type{
			display: none;
		}
	}
	.nav-bttn {
		flex:0 1 100%;
	}
	.nav-bttn-burger {
		display: flex;
		position: relative;
		width: 35px;
		height: 50px;
		&:after, &:before {
			content: '';
		}
		&:before{
			top:10px;
		}
		&:after {
			bottom:26px;
		}
		span, &:after, &:before{
			position: absolute;
			background-color: #fff;
			width: 100%;
			margin: 0 auto;
			height: 2px;
			border:1px solid #fff;
			border-radius: 25px;
		}
	}
}
