@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',sans-serif;
	background: url('../img/bodybg.png') center center no-repeat;
	background-size: cover;
}

h2 {
	color: aquamarine;
	font-size: 44px;
	padding: 0;
	margin: 0;

}

ul {
	padding: 0;
	margin: 0;
}

h3 {
	color: aquamarine;
	font-size: 18;
}

p {
	color: slateblue;
	font-size: 18px;
}

.wrapper {
	max-width: 100%;
	margin: auto;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
}

header {
	margin: 0;
	padding: 87px 0 0 0;
}

.header-container{
	width: 100%;
}

.nav-box,nav, .nav-bar,.nav-bttn, .nav-bttn-bar, .nav-img, .header-container{
	display: flex;
	flex-wrap: wrap;
}

.nav-img {
	align-items:flex-start;
}

.nav-box {
	flex:0 1 100%;
	justify-content: space-between;
	ul {
		list-style: none;
		padding: 0;
		font-size: 12px;
		color:#b5b5b5;
		justify-content: center;
		align-items: center;
	}
	.nav-bar {
		padding-left: 44px;
		& li {
			padding-left: 15px;
			&:first-of-type{
				padding: 0;
			}
		}
	}
	.nav-bttn {
		justify-content: flex-end;
		align-items: flex-end;
		li {
			margin-left: 20px;
			&:first-of-type {
				margin-left: 0;
			}
		}
	}
}

.nav-bttn,.promo-bttn {
	a {
			text-decoration: none;
			color: #f2994A;
			font-weight: 600;
			border:1px solid #f2994a;
			border-radius: 5px;
			padding: 8px 27px;
		}
}

.bttn-bg {
	box-shadow: 0 0 30px #f2994A;
	a {
		color: #fff;
		background-color: #f2994A;
	}
}
.promo {
	margin-top: 135px;
}
.promo-container,.promo-text,.promo-img {
	display: flex;
}

.promo-container {
	width: 100%;
	justify-content: space-between;
}
.promo-text {
	flex-direction: column;
	width: 47%;
}
.promo-img {
	display: flex;
	position: absolute;
	width: 40%;
	right: 70px;
}

.promo-img img {
	margin: auto;
	width: 100%;

}
.promo-bttn {
	ul {
		display: flex;
		list-style: none; 
		padding: 0;
	}
	#bttn3 a {
		padding: 8px 55px; 
		margin-left: 20px; 
	}
}

.promo-video {
	display: flex;
	margin-top: 60px;
	justify-content: flex-start;
	align-items: flex-start;
}

.video-text {
	padding-left: 20px;
	p {
		font-size: 16px;
		margin: 0;
		padding: 0;
	}
	#videop2{
		padding-top: 6px;
		font-size: 14px;
	}
}
.choice {
	margin-top: 100px;
}

.choice-perks,.perks-bar,.perks-item {
	display: flex;
}

.choice-title,.choice-text{
	text-align: center;
}

.choice-title h2 {
	margin: 0;
}

.choice-text p {
	margin-top: 13px;
}


.perks-bar {
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-top:50px; 
	.perks-item {
		display: flex;
	}
	.perks-img {
		display: flex;
		align-self: flex-start;
	}
	.perks-item-abz {
		display: flex;
		padding-left: 28px;
		flex-direction: column;
	}
	.perks-title h3 {
		padding: 0;
		margin: 0;
	}
	.perks-text p {
		font-size: 14px;
	}
}
.traffic {
	padding: 150px 0;
}
.traffic-abz,.traffic-img,.traffic-container {
	display: flex;
}

.traffic-img img {
	width: 100%;
}
.traffic-container {
	position: relative;
	justify-content: space-between;
	flex-wrap: wrap;
}
.orange {
	color: #f2994A;
}

.traffic-abz {
	flex-direction: column;
}




.traffic-text p {
	margin:32px 0;
}

.traffic-bttn {
	margin-top: 42px
}

.traffic-bttn a {
	text-decoration: none;
	border: 1px solid #f2994A;
	border-radius: 5px;
	padding: 14px 30px;
	font-size: 12px;
	color: #fff;
	background-color: #f2994A;
}
.save {
	text-align: center;
	margin-top: 50px;
	p {
		font-size: 15px;
	}
	h3 {
		font-size: 36px;
	}
}

.save-push,.save-push-bar,.push-item {
	display: flex;
}

.save-push {
	ul {
		list-style: none;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		padding: 0;
	}
	li {
		flex-direction: column;
		h3 {
			padding: 0;
			margin: 0;
		}
	}
}
@media (min-width: 992px) {
	.perks-item,.push-item {
		flex-basis: 30%;
	}
	.traffic-abz {
		flex:0 1 45%;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 992px;
	}
	.promo-img {
		position: absolute;
	}
	.perks-item,.push-item {
		flex-basis: 50%;
	}
	.push-item:last-of-type{
		flex-basis:100%;
	}
	.traffic-img{
	position: absolute;
	opacity: 0.3;
	right: 60px;
}
}


@media (max-width: 767px) {
	.container {
		max-width: none;
	}
	.perks-item,.push-item {
		flex:0 1 100%;
	}
	.nav-bttn-bar {
		display: none;
	}
	.nav-bar{
		li:last-of-type{
			display: none;
		}
	}
	.nav-bttn {
		flex:0 1 100%;
	}
	.nav-bttn-burger {
		display: flex;
		position: relative;
		top: -35px;
		width: 35px;
		height: 50px;
		&:after, &:before {
			content: '';
		}
		&:before{
			top:10px;
		}
		&:after {
			bottom:26px;
		}
		span, &:after, &:before{
			position: absolute;
			background-color: #fff;
			width: 100%;
			margin: 0 auto;
			height: 2px;
			border:1px solid #fff;
			border-radius: 25px;
		}
	}
	.promo-container {
		flex-wrap: wrap;
		.promo-img {
			position: absolute;
		}
		.promo-text{
			width:100%;
		}
	}
	h2 {
		font-size: 35px;
	}
}
